.input-container input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.input-container input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.input-container .small {
    padding: 0.25rem 0.5rem;
    width: 10rem;
    margin-bottom: 0;
}