/* -------- Containers -------- */
.game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
}

/* -------- Ships -------- */

.destroyer .first,
.destroyer .inside,
.destroyer .last {
    background-color: var(--gradient-1);
}


.submarine .first,
.submarine .inside,
.submarine .last {
    background-color: var(--gradient-2);
}

.cruiser .first,
.cruiser .inside,
.cruiser .last {
    background-color: var(--gradient-3);
}

.battleship .first,
.battleship .inside,
.battleship .last {
    background-color: var(--gradient-6);
}

.carrier .first,
.carrier .inside,
.carrier .last {
    background-color: var(--gradient-7);
}

.ships-container-horizontal .first {
    border-radius: 20px 0 0 20px;
}

.ships-container-horizontal .last {
    border-radius: 0 20px 20px 0;
}

.ships-container-vertical .first {
    border-radius: 20px 20px 0 0;
}

.ships-container-vertical .last {
    border-radius: 0 0 20px 20px;
}


/* -------- Shots -------- */

/* -------- User's sidebar -------- */

.panel-left {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.panel-right {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

/* -------- User's sidebar - waiting -------- */

/* -------- Computer's sidebar - active -------- */

/* -------- Computer's sidebar - waiting -------- */

/* -------- Battle grid -------- */

/* -------- Overview grid -------- */

/* -------- Score ------- */
.score-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
}