.game-mode-choice-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: linear-gradient(to top,
            rgba(18, 66, 87, 0.3),
            rgba(18, 66, 87, 0.1));
    padding: 2rem 2rem;
    backdrop-filter: blur(3px);
    border-radius: 0.75rem;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.game-mode-button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pvp {
    background-color: var(--gradient-3);
}

.pvc {
    background-color: var(--gradient-2);
}

h3 {
    padding: 0 1rem 0 1rem;
}

.game-mode-button:hover {
    background-color: #005B95;
    color: white;
}

.game-mode-button h3 {
    padding-top: 0.4rem;
}

.game-mode-button h3:nth-of-type(odd) {
    margin: 0 1rem;
}

.button-overview {
    display: inline;
    background: transparent;
    border: none;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--gradient-2);
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0.4rem 0.75rem 0.4rem 0.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    text-decoration: none;
}

.button-content:nth-of-type(even) {
    background-color: var(--gradient-1);
}

.button-overview-icon {
    margin-right: 0 !important;

}

.button-overview-icon:nth-of-type(odd) {
    padding: 0 0.25rem;
}

.button-overview-icon:nth-of-type(even) {
    padding: 0 0.25rem;
}

.button-overview h3 {
    padding-top: 0.1rem;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info p {
    text-align: center;
}