.player-type-choice-container {
    height: fit-content;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: linear-gradient(to top,
            rgba(18, 66, 87, 0.3),
            rgba(18, 66, 87, 0.1));
    padding: 2rem 2rem;
    backdrop-filter: blur(3px);
    border-radius: 0.75rem;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.registered {
    background-color: var(--gradient-4);
}

.anonymous {
    background-color: var(--gradient-2);
}

.player-type {
    width: fit-content
}

.game-mode-button p {
    font-size: 16px;
    font-weight: bold;
}

.player-type-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-type-button-icon {
    padding-right: 1.5rem;
}

.player-type-button-overview-icon {
    padding: 0.25rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container p {
    margin: 0;
    padding: 0;
}

.info-container .button-overview {
    margin: 0;
    padding: 0;
}