.ships-container-horizontal {
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    background-color: cadetblue;
}

.ships-container-vertical {
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
    background-color: antiquewhite;
}

.ship-container-horizontal {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 20px;
}

.ship-container-vertical {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 10px;
}

.ship-element {
    width: 50px;
    height: 50px;
}