.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,
            rgba(18, 66, 87, 0.5),
            rgba(18, 66, 87, 0.3));
}