.button-overview {
    display: inline;
    background: transparent;
    border: none;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #98d9d3;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 0.4rem 0.75rem 0.4rem 0.5rem;
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    text-decoration: none;
}

.button-content h3 {
    padding: 0.1rem 0.75rem;
}