.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFE9CF;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 1rem 3rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.menu .button-icon {
    margin-right: 1.5rem;
}

.menu:hover {
    background-color: #005B95;
    color: white;
}

.new-game {
    background-color: #4fc0d4;
}

.settings {
    background-color: #98d9d3;
}

.log-out {
    background-color: #cde5cb;
}