.header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.group {
    width: 25%;
}

.left {
    text-align: left;
}

.middle h3 {
    text-align: center;
}

.right {
    text-align: right;
}