.profile-picture-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 75px;
    /* box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile-picture-container {
    height: 150px;
    width: 150px;
}

.active {
    background-color: #005B95 !important;
    color: white !important;
}

.active:hover {
    background-color: #003557 !important;
    color: white !important;
}

.change-profile-picture-button {
    height: 30px;
    width: 30px;
    background-color: #FFE9CF;
    color: black;
    position: relative;
    cursor: pointer;
    top: -30px;
    left: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s ease 0s;
}

.change-profile-picture-button:hover {
    background-color: #005B95;
    color: white;
}