.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.logo {
    width: 100%;
    opacity: 0.8;
}

.menu-logo-container {
    background-color: cornflowerblue;
    width: 33.3%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 4rem;
}

.menu-buttons-group {
    width: 33%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFE9CF;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 0.75rem 3rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: fit-content;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.new-game {
    background-color: #4fc0d4;
}

.settings {
    background-color: #98d9d3;
}

.menu-button p {
    margin: 0;
    padding-top: 0.5rem
}

.menu-button .button-icon {
    margin-right: 1.5rem;
}

.menu-button:hover {
    background-color: #005B95;
    color: white;
}